

<app-header></app-header>
<section class="h-100 h-custom" style="background-color: #d2c9ff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Giỏ hàng của bạn</h1>
                    <h6 class="mb-0 text-muted">Số lượng sản phẩm: {{orderDetail.quantity}}</h6>
                  </div>
                  <hr class="my-4">

                  <div *ngFor="let cart of cartList" class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="{{cart.img}}"
                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-black mb-0">{{cart.carName}}</h6>

                      <h6 class="text-muted">{{cart.carSeries}}</h6>
                      <h6 class="text-muted">{{cart.carType}}</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex justify-content-center align-items-center">
                      <button (click)="addCarCart(cart.carId)" class="btn btn-link px-2"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
                      </svg>
                      </button>
                      <p class="m-0">{{cart.numberOfVehicles}}</p>
                      <button (click)="deleteCarCart(cart.carId,cart.numberOfVehicles)" class="btn btn-link px-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-dash-square-fill" viewBox="0 0 16 16">
                          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm2.5 7.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1z"/>
                        </svg>
                      </button>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
<!--                      <h6 class="mb-0">{{cart.sumPrice}}</h6>-->
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                    </div>
                  </div>

                  <div class="pt-5" style="cursor: pointer">
                    <h6 class="mb-0"><a  href="http://localhost:4200/list-car" class="text-body"><i
                      class="fas fa-long-arrow-alt-left me-2"></i>Trở lại danh sách xe</a></h6>
                  </div>
                  <div style="margin-top: 12px">
                    <div *ngIf="teamPage" class="d-flex justify-content-center" id="last-row">
                      <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item" [ngClass]="teamPage.first ? 'disabled': ''">
                            <a role="button" class="page-link" (click)="changePage(0)">Trang đầu</a>
                          </li>
                          <li class="page-item" [ngClass]="teamPage.first ? 'disabled': ''">
                            <a role="button" class="page-link" (click)="changePage(teamPage.number - 1)"><</a>
                          </li>
                          <li class="page-item" *ngIf="teamPage.number - 3 > 0">
                            <a role="button" class="page-link"
                               (click)="changePage(teamPage.number - 4)">{{teamPage.number - 3}}</a>
                          </li>
                          <li class="page-item" *ngIf="teamPage.number - 2 > 0">
                            <a role="button" class="page-link"
                               (click)="changePage(teamPage.number - 3)">{{teamPage.number - 2}}</a>
                          </li>
                          <li class="page-item" *ngIf="teamPage.number - 1 > 0">
                            <a role="button" class="page-link"
                               (click)="changePage(teamPage.number - 2)">{{teamPage.number - 1}}</a>
                          </li>
                          <li class="page-item" *ngIf="teamPage.number > 0">
                            <a role="button" class="page-link"
                               (click)="changePage(teamPage.number - 1)">{{teamPage.number}}</a>
                          </li>
                          <li class="page-item active"><a class="page-link">{{teamPage.number + 1}}</a></li>
                          <li class="page-item" *ngIf="teamPage.number + 2 <= teamPage.totalPages">
                            <a role="button" class="page-link"
                               (click)="changePage(teamPage.number + 1)">{{teamPage.number + 2}}</a>
                          </li>
                          <li class="page-item" *ngIf="teamPage.number + 3 <= teamPage.totalPages">
                            <a role="button" class="page-link"
                               (click)="changePage(teamPage.number + 2)">{{teamPage.number + 3}}</a>
                          </li>
                          <li class="page-item" *ngIf="teamPage.number + 4 <= teamPage.totalPages">
                            <a role="button" class="page-link"
                               (click)="changePage(teamPage.number + 3)">{{teamPage.number + 4}}</a>
                          </li>
                          <li class="page-item" *ngIf="teamPage.number + 5 <= teamPage.totalPages">
                            <a role="button" class="page-link"
                               (click)="changePage(teamPage.number + 4)">{{teamPage.number + 5}}</a>
                          </li>
                          <li class="page-item" [ngClass]="teamPage.last ? 'disabled': ''">
                            <a role="button" class="page-link"
                               (click)="changePage(teamPage.number + 1)">></a>
                          </li>
                          <li class="page-item" [ngClass]="teamPage.last ? 'disabled': ''">
                            <a role="button" class="page-link"
                               (click)="changePage(teamPage.totalPages - 1)">
                              Trang cuối
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Thanh toán</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">Số lượng sản phẩm: {{orderDetail.quantity}}</h5>
<!--                    <h5>Tổng tiền: {{orderDetail.price}}</h5>-->
                  </div>

                  <h5 class="text-uppercase mb-3">Shipping</h5>

                  <div class="mb-4 pb-2">
                    <select class="select">
                      <option value="1">Standard-Delivery- €5.00</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                      <option value="4">Four</option>
                    </select>
                  </div>

                  <h5 class="text-uppercase mb-3">Give code</h5>

                  <div class="mb-5">
                    <div class="form-outline">
                      <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplea2">Enter your code</label>
                    </div>
                  </div>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Thành tiền: </h5>
                    <h5>{{orderDetail.price}}</h5>
                  </div>

                  <button type="button" class="btn btn-dark btn-block btn-lg"
                          data-mdb-ripple-color="dark">Thanh toán ngay</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
